/*====  Arrow up ============================ */
.back-up {
  background: var(--primaryColor);
  position: fixed;
  right: 1rem;
  bottom: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.9rem;
  font-size: 1.5rem;
  line-height: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  transform: translateY(200%);
}
.back-up .icon {
  color: var(--bgColorHeaderActive);
}
.back-up.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
