.containerCard {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 2rem;
}
.skill {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0 1rem;
  width: 10rem;
  height: 3rem;
  border-radius: 0.4rem;
  border: 2px solid var(--purple);
  background: linear-gradient(
    to bottom right,
    var(--purple-dark) 0%,
    var(--blue) 100%
  );
  box-shadow: 2px 4px 5px black;
}
.skill .icon {
  margin-left: 0.6rem;
}
.skill p {
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.card {
  color: var(--white);
  border: 1px solid var(--purple);
  background: linear-gradient(
    to bottom right,
    var(--purple-dark) 0%,
    var(--blue) 100%
  );
  border-radius: 0.8rem;
}
.cardProject {
  width: 270px;
  height: 210px;
  padding: 1rem 2rem;
  box-shadow: 10px 5px 8px rgba(0, 0, 0, 0.8);
}
.cardTitle {
  line-height: 1.5rem;
  font-size: var(--font-ex-large);
}

.cardContent {
  font-size: var(--font-large);
  font-weight: 400;
  position: relative;
}
.cardContentDescription {
  margin: 1rem 0;
  line-height: 1.3rem;
}
.cardContentStack {
  text-transform: uppercase;
  font-weight: 500;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardIcon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.cardHeader .icon {
  color: var(--white);
  transition: 0.3s;
}
.cardHeader .icon:hover {
  color: var(--primaryColor);
}
