.containerCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 2rem;
  gap: 2rem;
  color: var(--white);
}
.bgCard {
  border: 2px solid var(--tertiaryColor);
  background: linear-gradient(to bottom right, var(--tertiaryColorDark) 0%, var(--quartaColor) 100%);
  border-radius: 0.4rem;
}
.skill {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  gap: 0 1rem;
  width: 10rem;
  height: 3rem;
}
.skill .icon {
  margin-left: 0.6rem;
}
.skill p {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.cardProject {
  width: 270px;
  padding: 1rem 2rem;
  flex-grow: 1;
  position: relative;
}
.cardTitle {
  line-height: 1.5rem;
  font-size: var(--font-ex-large);
}
.cardContent {
  font-size: var(--font-medium);
  font-weight: 400;
  text-align: justify;
  position: relative;
}
.cardContentDescription {
  margin: 1rem 0;
  line-height: 1.5rem;
}
.cardContentStack {
  text-transform: uppercase;
  font-weight: 500;
  font-size: var(--font-normal);
}
.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardIcon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.cardHeader .icon {
  color: var(--white);
  transition: 0.3s;
}
.cardHeader .icon:hover {
  color: var(--primaryColor);
}
.cardFooter {
  position: absolute;
  bottom: 0.3rem;
}
