#footer {
  font-size: var(--font-large);
  color: var(--white);
  background: var(--gray-500);
  height: 3em;
}
#footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
