.light {
  background: var(--bodyBackgroundColorLight);
  color: var(--gray-700);
}
.light .section, .light .divisor {
  background: var(--gray-200);
}
/*Nav*/
.light .nav .logo ,.light .nav .menuList a {
  color: var(--gray-500);
}
.light .nav .menuList a:hover {
  color: var(--primaryColor);
}
#landingSubtitle {
  color: var(--gray-300);
}
.light .subtitle, .light .text {
  color: var(--gray-700);
}
.light .btn {
  padding: 1rem;
  margin-top: 2rem;
  font-size: var(--font-medium);
  font-weight: 500;
  border: 1px solid var(--tertiaryColor);
  color: var(--primaryColor);
}
/*Footer*/
.light #footer {
  color:  var(--gray-700);
  background: var(--gray-200);
}



/* ========== LAYOUT PARA BOTAO LIGHT ==========*/
.toggle{
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 62px;
  height: 8px;
  background: #ec4e20;
  float: right;
  border-radius: 100px;
  position: relative;
}

label::after {
  content: '';
  position: absolute;
  top: -6px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: var(--tertiaryColorDark);
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background-color: #09d109;
}

input:checked + label::after {
  left:100%;
  transform: translateX(-100%);
}
