.nav {
  height: 100%;
  padding: 2rem;
  font-size: var(--font-medium);
}
.nav .logo {
  font-weight: 600;
  color: var(--gray-100);
}
.nav .logo span {
  font-weight: 700;
  color: var(--primaryColor);
}
.nav .menuList {
  list-style: none;
  gap: 1rem;
}
.nav .menuList a {
  font-weight: 600;
  color: var(--gray-100);
}
.nav .menuList a:hover {
  color: var(--primaryColor);
}
.icon-close,
.icon-menu {
  display: none;
}
