@import './cards.css';
@import './processbar.css';
.section {
  padding: 4rem 0;
}
.section-content {
  padding: 1.5rem;
}
.textSmall {
  font-size: var(--font-medium);
  font-weight: 500;
  color: var(--primaryColor);
  margin-bottom: 0.5rem;
}
.section img {
  object-fit: cover;
  border-radius: 5%;
  box-shadow: 2px 10px 5px rgba(0, 0, 0, 0.8);
  width: 20vw;
  height: 25vw;
}
.section .text {
  margin-top: 0.9rem;
  text-align: justify;
  max-width: 600px;
}
