.tabs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
}
.tab {
  padding: 0.8rem;
  text-align: center;
  cursor: pointer;
  border: none;
  background: none;
  color: inherit;
  opacity: 0.5;
  border-bottom: 2px solid var(--ice);
}
.tab .text {
  visibility: hidden;
  opacity: 0;
  display: none;
}
.tab i {
  font-size: 1.8rem;
}
.tab.active,
.tab:hover {
  opacity: 1;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color) !important;
  z-index: 10;
}

.contents {
  padding: 2rem;
}
.content {
  display: none;
  animation: moving 0.5s ease;
}
.content.active {
  display: block;
}
.content .title,
.content .subtitle {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}
.content .subtitle {
  margin-top: 2.4rem;
  font-size: 1.8rem;
}
.paragraph {
  margin-top: 0.8rem;
}
.paragraph strong {
  font-size: inherit;
  color: var(--primary-color);
  opacity: 0.9;
}

.boxCriador {
  margin-top: 1.2rem;
  font-size: 1.4rem;
  border: 1px solid rebeccapurple;
  /* display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
   */
  gap: 0.4rem;
}

@keyframes moving {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@media screen and (min-width: 1024px) {
  .tab {
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.8rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  .tab .text {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  .tab i {
    font-size: 1.4rem;
  }
}
