.tabs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap: 0.8rem; */
  position: relative;
}
.tab {
  padding: 0.8rem;
  text-align: center;
  cursor: pointer;
  border: none;
  background: none;
  color: inherit;
  opacity: 0.5;
  border-bottom: 2px solid var(--ice);
}
.tab .text {
  visibility: hidden;
  opacity: 0;
  display: none;
}
.tab i {
  font-size: 1.8rem;
}
.tab.active,
.tab:hover {
  color: var(--primary-color);
  opacity: 1;
  border-bottom: 2px solid var(--primary-color) !important;
  z-index: 10;
}
.line {
  position: absolute;
  top: 34px;
  width: 18px;
  left: 22px;
  height: 2px;
  background: var(--primary-color);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.content-box {
  padding: 2rem;
}
.content {
  display: none;
  animation: moving 0.5s ease;
}
.content.active {
  display: block;
}
.content article h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}
.content article:not(:first-child) h2 {
  margin-top: 2.4rem;
}
@keyframes moving {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@media screen and (min-width: 1024px) {
  .tab {
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.8rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  .tab .text {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  .tab i {
    font-size: 1.4rem;
  }
  .line {
    top: 46px;
    left: 15;
    width: 215px;
  }
}
