.containerCards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
}
.skill {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0 1rem;
  width: 10rem;
  height: 3rem;
  border-radius: 0.4rem;
  background: var(--bg-dark);
  box-shadow: 2px 4px 5px black;
}

.skill .icon {
  margin-left: 0.6rem;
}
.skill p {
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
