@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@import url("./project.css");
@import url("./about.css");
@import url("./share.css");
:root {
  --primary-color: #fc814a;
  --secundary-color: #f52cb9;
  --white: #fff;
  --black: #000;
  --ice: #e8e8e8;
  --gray: #d3d3d3;
  --dark-bg: #202529;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--dark-bg);
  color: var(--ice);
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 2.4rem;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100vh - 7rem);
}
.text {
  font-size: 1.4rem;
  line-height: 1.6;
}
.paragraph {
  font-size: 1.6rem;
  line-height: 1.4;
  text-align: left;
  color: var(--gray);
}
header {
  height: 7rem;
  background: var(--ice);
  color: var(--black);
  border-top: 1px solid var(--primary-color);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  display: flex;

  align-items: center;
  justify-content: center;

  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}
.mobile {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.mobile .menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  padding: 1rem;
  text-transform: capitalize;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 700;
  transition: all 0.3s;
}
.mobile .menu-item .icon {
  font-size: 1.6rem;
}
.mobile .menu-item.active,
.mobile .menu-item:hover {
  color: var(--primary-color);
}
#more-links {
  cursor: pointer;
}
.revelius {
  visibility: visible;
  opacity: 1;
  display: block;
}
.fidelius {
  visibility: hidden !important;
  opacity: 0 !important;
  display: none !important;
}
.mobile.container-more-links {
  height: 14rem !important;
}

.wrapper__img-profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar {
  height: 12.5rem;
  width: 12.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}
.avatar img {
  display: block;
  width: 100%;
}

.section__text {
  width: 100%;
  margin-top: 4rem;
  text-align: center;
}
.section__text {
  width: 100%;
  margin-top: 4rem;
  text-align: center;
}
.section__text .anttitle {
  font-weight: 700;
  font-size: 1.6rem;
}
.section__text .title {
  margin: 0.8rem 0;
  font-weight: 700;
  font-size: 3.2rem;
}
.section__text .subtitle {
  width: 100%;
  font-size: 2rem;
}
.section__text .text {
  margin-top: 1.2rem;
}
.btn__container {
  padding: 1rem 0;
  margin: 3.2rem 0;

  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
}
.btn {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: 1.6rem;
  color: var(--ice);
  font-size: 1.2rem;
  font-weight: 700;
  background: none;
  transition: 0.3s all;
  cursor: pointer;
}
.btn__fill,
.btn:hover,
.social-media-link:hover {
  background: var(--ice);
  color: var(--black);
  border: 1px solid transparent;
}
.btn__fill:hover {
  color: var(--ice);
  border: 1px solid var(--primary-color);
  background: none;
}
.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
.social-media-link {
  padding: 0.8rem;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  transition: all 0.3s ease-in;
}
.social-media-link .icon {
  font-size: 2.4rem;
}
.social-media-link .icon:hover {
  color: var(--color4);
}

.wrapper__img-about .avatar {
  width: 6rem;
}

@media screen and (min-width: 1024px) {
  .avatar {
    height: 20rem;
    width: 20rem;
  }
  .container,
  nav {
    max-width: 992px;
    margin: 0 auto;
  }

  .section__text .title {
    margin: 0.8rem 0;
    font-weight: 700;
    font-size: 4rem;
  }
  .section__text .subtitle {
    width: 100%;
    font-size: 2rem;
  }
}
