@import './website/website.css';
@import './mobile/mobile.css';

:root {
  --header-height: 4.5rem;
  --font-small: 1em;
  --font-normal: 1.2em;
  --font-medium: 1.4em;
  --font-large: 1.6em;
  --font-ex-large: 2em;

  --font-website-title: 2.5rem;
  --font-website-subtitle: 1.5rem;

  --white: #ffff;

  --blue: #4ea8de;
  --purple: #8284fa;
  --purple-dark: #5e60ce;
  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #3333;
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --gray-700: #0d0d0d;

  --bodyBackgroundColorDark: #292c35;
  --bodyBackgroundColorLight: #f1f1f1;
  --bgColorHeaderActive: #3a3d47;
  --primaryColor: #fdf36a;
  --secundaryColor: #cec75e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Inter', sans-serif;
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
