div#fade {
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;

  display: flex;
  align-items: center;
  justify-content: center;
}
#modal {
  max-width: 420px;
  width: 100%;
  background: var(--white);
  color: var(--black);
  border-radius: 4px;
  position: relative;
  padding: 4.8rem 2.4rem;
  z-index: 20;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
div#fade,
#modal {
  opacity: 1;
  pointer-events: all;
  visibility: visibility;
  display: block;
}
div#fade.hide,
#modal.hide {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  display: none;
}
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}
.modal-header h2 {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 600;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 0.4rem;
}
#modal button#close-modal {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  font-size: 2.6rem;
  border: none;
  border-radius: 4px;
  background: transparent;

  transition: all 0.3s ease-in;
}
#modal button#close-modal:hover {
  background: var(--primary-color-alt);
}
#modal .modal-body {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 0 1.6rem;
}
#modal .modal-body a {
  font-size: 1.4rem;
  font-weight: 600;
}
.share-link {
  padding: 8px 10px;
  display: flex;
  align-items: center;
  font-weight: 500;
  position: relative;
  border-radius: 4px;
  transition: background 0.3s ease-in-out;

  word-wrap: break-word;
  overflow-wrap: break-word;
}
.share-link:hover {
  color: var(--color4);
  background: var(--dark-bg);
}
div.share-link-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  width: 40px;
  height: 40px;
  padding: 0.4rem;
  margin-right: 10px;
  border: 1px solid var(--primary-color);
  background: var(--white);
}
.share-link .icon {
  position: absolute;
  right: 15px;
  font-size: 1.4rem;
}
.copy-container {
  position: relative;
  display: flex;
  margin-top: 3.6rem;
  width: 100%;
}
.copy-icon-link {
  position: absolute;
  left: 5px;
  top: 25%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.copy-input-link {
  border: 1px solid var(--primary-color);
  border-radius: 4px 0 0 4px;
  color: var(--black);
  padding: 14px 14px 14px 32px;
  width: 85%;
  font-size: 1.2rem;
}
.copy-input-link:disabled {
  cursor: default;
}
button#copy-button-link {
  background: var(--dark-bg);
  border: 1px solid transparent;
  border-radius: 0 4px 4px 0;
  color: var(--white);
  cursor: pointer;
  width: 20%;
  transition: background 0.3s ease-in-out;
}
button#copy-button-link .icon{
 font-size: 2rem;
}
.copy-container button#copy-button-link:hover {
  background: var(--primary-color);
}
.copy-container button#copy-button-link:before {
  content: "Copied";
  position: absolute;
  top: -74%;
  right: 0;
  background: var(--dark-bg);
  color: var(--white);
  padding: 8px;
  border-radius: 4px;
  font-size: 15px;
  display: none;
}
.copy-container.active button#copy-button-link:before {
  display: block;
}
@media (max-width: 368px) {
  #modal {
    max-width: 320px;
    width: 100%;
    font-size: 12px;
  }
}
